<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="files.aliter.spb.ru" />
    <add key="login" value="admin" />
    <add key="password" value="admin" />
    <add key="thunderbird_exe" value="C:\Program Files (x86)\Mozilla Thunderbird\thunderbird.exe" />
    <add key="thunderbird_args" value="-compose body={0}" />
    <!--Обязательно оборачиваете сообщение {0}[Сообщение]{1} -->
    <add key="message_error_title" value="{0}Error!{1}" />
    <add key="message_error" value="{0}Error! Обратитесь к системному администратору{1}" />
  </appSettings>
</configuration>